{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="detailView">
    <div class="innerView">
            <p>{{student.studentNumber}}</p>
            <p>{{student.assignmentOne}}</p>
            <p>{{student.assignmentTwo}}</p>
            <p>{{student.assignmentThree}}</p>
            <p>{{student.assignmentFour}}</p>
            <p>{{student.assignmentFive}}</p>
            <p>{{student.assignmentSix}}</p>
            <p>{{student.assignmentAverage}}</p>
            <p>{{student.testOne}}</p>
            <p>{{student.testTwo}}</p>
            <p>{{student.testAverage}}</p>
            <p>{{student.finalMark}}</p>
    </div>
</div>

{% endblock %}