{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}

<div class="alert alert - {{ message.alert }}" role="alert">
    <p {% if message.tags %} class="" {% endif %}}>{{ message }}</p>
</div>
{% endfor %}
{% endif %}

<div class="form-div"
style="background-color: #045d79 ;
color:aliceblue; 
margin: 100px 100px 200px 250px; 
padding: 10px;
border-radius: 25px;"
>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
    <h2>Please Upload Tutor List Excel file</h2>
</form>
</div>
{% endblock %}