{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="detailView">
    <div class="innerView">
        <div>
            <p>{{Tutor_Marking.Student}}</p>
            <p>{{Tutor_Marking.A1_Marker}}</p>
            <p>{{Tutor_Marking.A2_Marker}}</p>
            <p>{{Tutor_Marking.A3_Marker}}</p>
            <p>{{Tutor_Marking.A4_Marker}}</p>
            <p>{{Tutor_Marking.A5_Marker}}</p>
            <p>{{Tutor_Marking.A6_Marker}}</p>
        </div>
    </div>
</div>

{%endblock%}

