{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="detailView">
    <div class="innerView">
        <div>
            <h1>{{incident.title}}</h1>
            <p>{{incident.text}}</p>
            <h3>File attachment: <p>{{incident.upload}}</p></h3>
            <h4>Type of Query: <p>{{incident.query_type}}</p></h4>
        </div>
        <div>

            {% if user.is_superuser %}
            <button><a href="{% url 'incidents.update' pk=incident.id %}">View</a></button>
            <button><a href="{% url 'incidents.delete' pk=incident.id %}">Delete</a></button>
            <Button><a href="{% url 'incidents.list' %}">Back</a></Button> 
            {%else%}
            <button><a href="{% url 'incidents.delete' pk=incident.id %}">Delete</a></button>
            <Button><a href="{% url 'incidents.list' %}">Back</a></Button> 
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}
