{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="form-div" style="background-color: #b6d3ef ; margin: 100px 100px 200px 250px;">
    <form method="POST" enctype="multipart/form-data" style="width:400px ;"> {% csrf_token %}
        {{form}}
        <button type="submit">Submit</button>
    </form>
    
    {% if form.errors %}
    <div>
        {{form.errors.title.as_text}}
    </div>
    {% endif %}
    <button><a href="{% url 'incidents.list' %}"> Cancel</a></button>
</div>
{% endblock %}