{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href ="{% static 'styles/style.css' %}"/>
        <title>Convener Web Interface</title>
    </head>

    <body>

        <!--Nav Bar-->
        <nav>
            <!--Logo-->
            <div class="logo">
                <img src="{% static "styles/graph.jpg" %}" width="50" >
            </div>

            <!--Nav Bar-->
            {% if user.is_authenticated %}
            <li class="logout">
                <a href = "{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="login">
                <a href = "{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </nav>

        <div class="wrapper">
            <!--Sidebar-->
            <div class="sidebar">
                <aside>
                    {% if user.is_superuser %}
                    <div>
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'incidents.list' %}">View Requests</a>
                    </div>

                    <div>
                        <a>Risk Analysis</a>
                    </div>

                    <div>
                        <a href=" {% url 'upload' %} ">Upload Student Results</a>
                    </div>

                    <div>
                        <a>Summary Email</a>
                    </div>

                    <!--Not See-->
                    {% else %}
                    <div>
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'incidents.list' %}">View Requests</a>
                    </div>

                    <div>
                        <a href="{% url 'incidents.new' %}">Create New Request</a>
                    </div>

                    {% endif %}
                </aside>
            </div>

            <!--Block Content-->
            <div class="content">
                <main >
                    <div>
                        {% block content%}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
        
    </body>
</html>