{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href ="{% static 'styles/style.css' %}"/>
        <title>Convener Web Interface</title>
    </head>

    <body>

        <!--Nav Bar-->
        <nav style="background-image: linear-gradient(266deg, rgba(47,64,80,1) 0%, rgba(47,64,80,1) 25%, rgba(7,39,107,1) 100%);">
            <!--Logo-->
            <div class="logo">
                <img src="{% static "styles/icon2.png" %}" width="60" >
            </div>

            {% if user.is_authenticated %}
            <form action="" style="margin-top: 12px;">
                <input type="text" placeholder="Search.." name="search" style="height: 40px ;
                width: 300px">
                <button type="submit">Search</i></button>
            </form>

            <!--Nav Bar-->
            <li class="logout">
                <a href = "{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="login">
                <a href = "{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </nav>

        {% if user.is_authenticated %}
        <div class="wrapper">
            <!--Sidebar-->
            <div class="sidebar" style="background-image: linear-gradient(9deg, rgba(47,64,80,1) 0%, rgba(47,64,80,1) 51%, rgba(7,39,107,1) 100%);">
                <aside>
                    {% if user.is_superuser %}
                    <div>
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'incidents.list' %}">View Requests</a>
                    </div>

                    <div>
                        <a href=" {% url 'results' %}">Risk Analysis</a>
                    </div>

                    <div>
                        <a href=" {% url 'upload' %} ">Upload Student Results</a>
                    </div>

                    <div>
                        <a href="{% url 'summary.list' %}">Summary Email</a>
                    </div>

                    <div>
                        <a href="{%url 'Tutor_List' %}">Tutor Marking list</a>
                    </div>

                    <div>
                        <a href="{%url 'uploads' %}">Tutor Marking Upload</a>
                    </div>

                    <!--Not See-->
                    {% else %}
                    <div>
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'incidents.list' %}">View Requests</a>
                    </div>

                    <div>
                        <a href="{% url 'incidents.new' %}">Create New Request</a>
                    </div> <!--New Form here?-->

                    {% endif %}
                </aside>
            </div>
            {% else %}

            {% endif %}

            <!--Block Content-->
            <div class="content">
                <main >
                    <div>
                        {% block content%}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
        
    </body>
</html>